body{
		background-color: #ddd;
	}
	table{
		background-color: white;
		text-align: left;
		border:3px solid black;
		width: 50%;
		height: 30%;
		margin-left: 20%;
		border-collapse: collapse;
		margin-top: 20px;
	}
	th,td{
		padding: 20px;
	}
	thead{
		background-color: #243555;
		color: white;
		border-bottom: solid 5px #0f362d;
		font-family:'time new roman';
		text-align: center;
	}
	tr:nth-child(even){
		background-color: #ddd;
	}
	tr:hover{
		background-color: #243555;
		color: white;
	}
	td:hover{
		background-color: #369681;
		color: white;
	}